body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(54, 53, 53);
  background-color: rgb(221, 248, 246);
}

button {
  background-color: rgb(94, 182, 182);
  border: 3px solid white;
}

button:hover {
  background-color: white;
  border: 3px solid rgb(120, 192, 192);
}

.round, .player, .winner {
  font-size: 2em;
  font-weight: bolder;
}

.dice-center {
  visibility: hidden;
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

.gameover {
  display: none;
  margin: 5%;
}

img {
  width: 70%;
  margin: 5%;
}

@media screen and (min-width: 768px) {
  img {
    width: 40%;
  }
}